a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.name {
    margin-left: 20px;
    font-size: 150%;
}

.title {
    font-family: 'Public Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
}

/*.btn {
    background-color: #0d6efd;
}*/

.input {
    border: none;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f8f8f8;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #f8f8f8;
    color:#0d6efd;
}

.header {
    background-color: #ffffff;
    font-family: 'Public Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
}

.profile__status {
    margin-right: 5px;
}

.profile__username {
    margin-right: 10px;
}

.profile__exit {
    margin-right: 10px;
}

.main-wrapper{
    margin: 20px 20px;
}

.sidebar {
    width: 18%;
    float: left;
    border-radius: 10px;
    padding-top: 20px;
    background-color: #ffffff;
    font-family: 'Public Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
}

.sidebar__logo img {
    border-radius: 10px;
    width: 50%;
}

.sidebar__link {
    margin-top: 5px;
    margin-bottom: 5px;
}

.main {
    flex-grow: 1;
    margin:0 25% 0 25%;
    width: 70%;
}

.main-width-mid {
    width: 50%;
}

.main-width-large {
    width: 70%;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.content-wrapper-column {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.card {
    border: none;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
}

.post-card__comments-title {
    cursor: pointer;
}

.post-card {
    background-color: #f8f8f8;
}

.post-card__opened {
    background-color: #ffffff;
}

.post-card__author-and-date {
    color:#bbbbbb;
}

.post-card__title {
    margin: 20px;
}

.post-card__text {
    margin: 20px;
}

.post-card__img {
    margin: 0 auto;
    width: 90%;
}

.post-card__img img {
    border-radius: 10px;
    margin-bottom: 10px;
}

.post-card__create-comment {
    display: flex;
    padding-top: 20px;
    padding-bottom: 10px;
}

.create-comment__input {
    flex-grow: 1;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #ffffff;
}

.create-comment__btn {
    border-radius: 50%;
    margin-left: 15px;
}

.post-card__comment {
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
}

.user-status__create-message {
    display: flex;
    padding-top: 20px;
    padding-bottom: 10px;
    justify-content: center;
}

.create-message__input {
    flex-grow: 1;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #ffffff;
}

.create-message__btn {
    border-radius: 50%;
    margin-left: 15px;
}

.discussion-closed {
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #ffffff;
}

.comment__username-and-date {
    color:#bbbbbb;
}

.report-illness__btn {
    margin-top: 20px;
}

.report-recovery__btn {
    margin-top: 20px;
}

.input-line__input {
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #f8f8f8;
}

.login {
    background-color: #ffffff;
}

.login__logo img {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    width: 20%;
}

.login__input {
    margin-top: 20px;
}

.login__input span {
    margin-right: 20px;
}

.login__email {
    border: none;
    padding: 10px;
    background-color: #f8f8f8;
}

.login__name {
    border: none;
    padding: 10px;
    background-color: #f8f8f8;
}

.login__surname {
    border: none;
    padding: 10px;
    background-color: #f8f8f8;
}

.login__group {
    border: none;
    padding: 10px;
    background-color: #f8f8f8;
}

.login__password {
    border: none;
    padding: 10px;
    background-color: #f8f8f8;
}

.login__actions {
    margin-top: 10px;
    margin-right: 20px;
}

.login__actions button {
    margin-top: 5px;
    width: 200px;
}

.user-status__text {
    font-family: 'Public Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 150%;
}

.user-status__reason {
    font-family: 'Public Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 150%;
}

.tracker {
    padding: 20px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    background-color: #f8f8f8;

    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.tracker__temperature {
    border: none;
    border-radius: 10px;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #f8f8f8;
}

.tracker__btn {
    margin-top: 20px;
    margin-bottom: 20px;
}

.tracker-slide__date {
    color:#bbbbbb;
}

.tracker-slide__temperature {
    margin-top: 20px;
    margin-bottom: 20px;
}

.covidtests-card {
    background-color: #f8f8f8;
}

.card-button {
    margin-right: 10px;
}

.user-status__message {
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
}

.profile__group {
    margin-top: 20px;
}

.profile__title {
    margin-bottom: 10px;
    font-size: large;
}

.profile__input {
    border: none;
    padding: 10px;
    background-color: #f8f8f8;
}

.profile__actions {
    margin-top: 10px;
    margin-right: 20px;
}

.profile__actions button {
    margin-top: 5px;
    width: 200px;
}

.create-post__title {
    border: none;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f8f8f8;
    width: 100%;
}

.create-post__textarea {
    border: none;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f8f8f8;
    resize: none;
    width: 100%;

}

.create-post__image {
    margin-bottom: 20px;
}

.upload-photo__label {
    cursor: pointer;
}

#upload-photo {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.create-post__btn {
    width: 100%;
}

.statistic-chart__container {
    width: 710px;
    height:340px
}

.add-admin__input {
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #f8f8f8;
}

.add-admin__actions {
    display: flex;
    justify-content: space-between;
}

.add-admin__btn {
    margin-top: 10px;
    width: 49%;
}

.elem-inline {
    display:inline-block;
}

.footer {
    flex-shrink: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: auto;
    padding-bottom: 20px;
}
